* {
  margin: 0;
  padding: 0;
  outline: none;
}
.select_network {
  height: 100vh;
  width: 100%;
  color: #fff;
  z-index: 2007;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}
.select_network .close {
  position: absolute;
  padding: 30px;
  right: 500px;
  cursor: pointer;
}
.select_network .network_box {
  display: flex;
  flex-direction: column;
  width: 500px;
  float: right;
  height: 100vh;
  background: #171f31;
  box-shadow: 0 2px 18px 7px rgba(0, 0, 0, 0.1);
}
.select_network .network_box .hr {
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.05);
}
.select_network .network_box .title {
  padding: 80px 50px 20px;
  font-weight: 500;
}
.select_network .network_box .scroll {
  padding: 16px 10px;
}
.select_network .network_box .scroll .chain {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  height: 56px;
  padding: 0 40px;
  transition: all 0.3s;
}
.select_network .network_box .scroll .chain .chain-left {
  display: flex;
  align-items: center;
}
.select_network .network_box .scroll .chain .chain-left > :nth-child(n+2) {
  margin-left: 8px;
}
.select_network .network_box .scroll .chain:hover {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.3);
}
.bridge {
  background-color: #19202b !important;
  height: 100vh;
  color: #ffffff;
  position: relative;
}
.bridge .nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #141924;
}
.bridge .nav .logo {
  height: 50px;
  margin-left: 40px;
}
.bridge .nav .logo img {
  height: 100%;
}
.bridge .nav ul {
  margin-bottom: 0;
  position: absolute;
  left: 123px;
}
.bridge .nav ul li {
  float: left;
  list-style: none;
  margin-left: 30px;
  color: #747474;
}
.bridge .nav ul li .bar {
  position: absolute;
  top: 35px;
  left: 385px;
  width: 63px;
  height: 4px;
  background: linear-gradient(90deg, #09E4A2 0%, #00A9FF 100%);
  border-radius: 3px;
  margin: 12px auto;
}
.bridge .nav ul .ref:hover .dropdown-menu {
  display: block;
}
.bridge .nav ul .dropdown-menu {
  background-color: #353c40;
  margin-left: 300px;
}
.bridge .nav ul .dropdown-menu li {
  float: none;
  margin-top: 10px;
}
.bridge .nav ul .dropdown-menu li a {
  color: #747474;
}
.bridge .nav .connectw {
  margin-right: 40px;
}
.bridge .nav .connectw .connect {
  width: 200px;
  height: 40px;
  background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
  border-radius: 41px;
  border: 0;
  color: #fff;
}
.bridge .nav .connectw #adderssbtn {
  display: none;
  color: #fff;
}
.bridge .nav .connectw .netlogo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/eth.png');
  background-size: 100%;
}
.bridge .approve {
  display: none;
}
.bridge .container-fluid {
  margin-top: 30px;
}
.bridge .container-fluid .card_one {
  width: 494px;
  box-sizing: border-box;
  padding: 40px 50px 54px;
  display: flex;
  justify-content: space-between;
  background: #141924;
  box-shadow: 0 2px 18px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.bridge .container-fluid .card_one p {
  text-align: center;
  font-size: 25px;
}
.bridge .container-fluid .card_one .info {
  margin-top: 10px;
}
.bridge .container-fluid .card_one .info p {
  font-size: 16px;
  text-align: left;
  display: none;
}
.bridge .container-fluid .card_one .box_network {
  display: flex;
  justify-content: space-between;
}
.bridge .container-fluid .card_one .box_network .go {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 20px 0 20px;
  line-height: 35px;
  margin-top: 30px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.26);
}
.bridge .container-fluid .card_one .box_network .go .fdffTR {
  height: 18px;
  fill: white;
}
.bridge .container-fluid .card_one .title {
  display: flex;
  justify-content: space-between;
}
.bridge .container-fluid .card_one .title div {
  width: 150px;
  font-size: 16px;
}
.bridge .container-fluid .card_one .disable {
  width: 152px;
  height: 100px;
  position: absolute;
  z-index: 55;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.26);
  display: none;
}
.bridge .container-fluid .card_one .from_network,
.bridge .container-fluid .card_one .to_network {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 152px;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 1px 10px 3px;
  padding: 16px;
  cursor: pointer;
  height: 100px;
  border-radius: 4px;
  background: #1D222D;
}
.bridge .container-fluid .card_one .from_network .fromselect,
.bridge .container-fluid .card_one .to_network .fromselect,
.bridge .container-fluid .card_one .from_network .toselect,
.bridge .container-fluid .card_one .to_network .toselect {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  line-height: 21px;
  text-align: center;
}
.bridge .container-fluid .card_one .from_network .fromselect .hAfEGY,
.bridge .container-fluid .card_one .to_network .fromselect .hAfEGY,
.bridge .container-fluid .card_one .from_network .toselect .hAfEGY,
.bridge .container-fluid .card_one .to_network .toselect .hAfEGY,
.bridge .container-fluid .card_one .from_network .fromselect .thAfEGY,
.bridge .container-fluid .card_one .to_network .fromselect .thAfEGY,
.bridge .container-fluid .card_one .from_network .toselect .thAfEGY,
.bridge .container-fluid .card_one .to_network .toselect .thAfEGY {
  height: 12px;
  fill: white;
}
.bridge .container-fluid .card_one .from_network .fromselect .kQzQQm,
.bridge .container-fluid .card_one .to_network .fromselect .kQzQQm,
.bridge .container-fluid .card_one .from_network .toselect .kQzQQm,
.bridge .container-fluid .card_one .to_network .toselect .kQzQQm,
.bridge .container-fluid .card_one .from_network .fromselect .tkQzQQm,
.bridge .container-fluid .card_one .to_network .fromselect .tkQzQQm,
.bridge .container-fluid .card_one .from_network .toselect .tkQzQQm,
.bridge .container-fluid .card_one .to_network .toselect .tkQzQQm {
  height: 12px;
  fill: white;
  display: none;
}
.bridge .container-fluid .card_one .from_network .from_select_network,
.bridge .container-fluid .card_one .to_network .from_select_network,
.bridge .container-fluid .card_one .from_network .to_select_network,
.bridge .container-fluid .card_one .to_network .to_select_network {
  width: 200px;
  background: #1D222D;
  position: absolute;
  display: none;
  bottom: -115px;
  z-index: 77;
  right: -165px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 1px 10px 3px;
}
.bridge .container-fluid .card_one .from_network .from_select_network .hr,
.bridge .container-fluid .card_one .to_network .from_select_network .hr,
.bridge .container-fluid .card_one .from_network .to_select_network .hr,
.bridge .container-fluid .card_one .to_network .to_select_network .hr {
  height: 1px;
  background-color: #979797;
}
.bridge .container-fluid .card_one .from_network .from_select_network .eth .fbsced,
.bridge .container-fluid .card_one .to_network .from_select_network .eth .fbsced,
.bridge .container-fluid .card_one .from_network .to_select_network .eth .fbsced,
.bridge .container-fluid .card_one .to_network .to_select_network .eth .fbsced,
.bridge .container-fluid .card_one .from_network .from_select_network .bsc .fbsced,
.bridge .container-fluid .card_one .to_network .from_select_network .bsc .fbsced,
.bridge .container-fluid .card_one .from_network .to_select_network .bsc .fbsced,
.bridge .container-fluid .card_one .to_network .to_select_network .bsc .fbsced,
.bridge .container-fluid .card_one .from_network .from_select_network .heco .fbsced,
.bridge .container-fluid .card_one .to_network .from_select_network .heco .fbsced,
.bridge .container-fluid .card_one .from_network .to_select_network .heco .fbsced,
.bridge .container-fluid .card_one .to_network .to_select_network .heco .fbsced,
.bridge .container-fluid .card_one .from_network .from_select_network .eth .fhecoed,
.bridge .container-fluid .card_one .to_network .from_select_network .eth .fhecoed,
.bridge .container-fluid .card_one .from_network .to_select_network .eth .fhecoed,
.bridge .container-fluid .card_one .to_network .to_select_network .eth .fhecoed,
.bridge .container-fluid .card_one .from_network .from_select_network .bsc .fhecoed,
.bridge .container-fluid .card_one .to_network .from_select_network .bsc .fhecoed,
.bridge .container-fluid .card_one .from_network .to_select_network .bsc .fhecoed,
.bridge .container-fluid .card_one .to_network .to_select_network .bsc .fhecoed,
.bridge .container-fluid .card_one .from_network .from_select_network .heco .fhecoed,
.bridge .container-fluid .card_one .to_network .from_select_network .heco .fhecoed,
.bridge .container-fluid .card_one .from_network .to_select_network .heco .fhecoed,
.bridge .container-fluid .card_one .to_network .to_select_network .heco .fhecoed,
.bridge .container-fluid .card_one .from_network .from_select_network .eth .tethed,
.bridge .container-fluid .card_one .to_network .from_select_network .eth .tethed,
.bridge .container-fluid .card_one .from_network .to_select_network .eth .tethed,
.bridge .container-fluid .card_one .to_network .to_select_network .eth .tethed,
.bridge .container-fluid .card_one .from_network .from_select_network .bsc .tethed,
.bridge .container-fluid .card_one .to_network .from_select_network .bsc .tethed,
.bridge .container-fluid .card_one .from_network .to_select_network .bsc .tethed,
.bridge .container-fluid .card_one .to_network .to_select_network .bsc .tethed,
.bridge .container-fluid .card_one .from_network .from_select_network .heco .tethed,
.bridge .container-fluid .card_one .to_network .from_select_network .heco .tethed,
.bridge .container-fluid .card_one .from_network .to_select_network .heco .tethed,
.bridge .container-fluid .card_one .to_network .to_select_network .heco .tethed,
.bridge .container-fluid .card_one .from_network .from_select_network .eth .thecoed,
.bridge .container-fluid .card_one .to_network .from_select_network .eth .thecoed,
.bridge .container-fluid .card_one .from_network .to_select_network .eth .thecoed,
.bridge .container-fluid .card_one .to_network .to_select_network .eth .thecoed,
.bridge .container-fluid .card_one .from_network .from_select_network .bsc .thecoed,
.bridge .container-fluid .card_one .to_network .from_select_network .bsc .thecoed,
.bridge .container-fluid .card_one .from_network .to_select_network .bsc .thecoed,
.bridge .container-fluid .card_one .to_network .to_select_network .bsc .thecoed,
.bridge .container-fluid .card_one .from_network .from_select_network .heco .thecoed,
.bridge .container-fluid .card_one .to_network .from_select_network .heco .thecoed,
.bridge .container-fluid .card_one .from_network .to_select_network .heco .thecoed,
.bridge .container-fluid .card_one .to_network .to_select_network .heco .thecoed {
  display: none;
}
.bridge .container-fluid .card_one .from_network .from_select_network .eth .network,
.bridge .container-fluid .card_one .to_network .from_select_network .eth .network,
.bridge .container-fluid .card_one .from_network .to_select_network .eth .network,
.bridge .container-fluid .card_one .to_network .to_select_network .eth .network,
.bridge .container-fluid .card_one .from_network .from_select_network .bsc .network,
.bridge .container-fluid .card_one .to_network .from_select_network .bsc .network,
.bridge .container-fluid .card_one .from_network .to_select_network .bsc .network,
.bridge .container-fluid .card_one .to_network .to_select_network .bsc .network,
.bridge .container-fluid .card_one .from_network .from_select_network .heco .network,
.bridge .container-fluid .card_one .to_network .from_select_network .heco .network,
.bridge .container-fluid .card_one .from_network .to_select_network .heco .network,
.bridge .container-fluid .card_one .to_network .to_select_network .heco .network {
  padding: 8px 18px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.bridge .container-fluid .card_one .from_network .from_select_network .eth .network .checked,
.bridge .container-fluid .card_one .to_network .from_select_network .eth .network .checked,
.bridge .container-fluid .card_one .from_network .to_select_network .eth .network .checked,
.bridge .container-fluid .card_one .to_network .to_select_network .eth .network .checked,
.bridge .container-fluid .card_one .from_network .from_select_network .bsc .network .checked,
.bridge .container-fluid .card_one .to_network .from_select_network .bsc .network .checked,
.bridge .container-fluid .card_one .from_network .to_select_network .bsc .network .checked,
.bridge .container-fluid .card_one .to_network .to_select_network .bsc .network .checked,
.bridge .container-fluid .card_one .from_network .from_select_network .heco .network .checked,
.bridge .container-fluid .card_one .to_network .from_select_network .heco .network .checked,
.bridge .container-fluid .card_one .from_network .to_select_network .heco .network .checked,
.bridge .container-fluid .card_one .to_network .to_select_network .heco .network .checked {
  width: 12px;
  height: 8px;
  fill: white;
}
.bridge .container-fluid .card_one .from_network .from_bsc,
.bridge .container-fluid .card_one .to_network .from_bsc,
.bridge .container-fluid .card_one .from_network .from_heco,
.bridge .container-fluid .card_one .to_network .from_heco,
.bridge .container-fluid .card_one .from_network .from_eth,
.bridge .container-fluid .card_one .to_network .from_eth {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.bridge .container-fluid .card_one .from_network .from_bsc .img,
.bridge .container-fluid .card_one .to_network .from_bsc .img,
.bridge .container-fluid .card_one .from_network .from_heco .img,
.bridge .container-fluid .card_one .to_network .from_heco .img,
.bridge .container-fluid .card_one .from_network .from_eth .img,
.bridge .container-fluid .card_one .to_network .from_eth .img {
  width: 24px;
  height: 24px;
}
.bridge .container-fluid .card_one .from_network .from_bsc,
.bridge .container-fluid .card_one .to_network .from_bsc,
.bridge .container-fluid .card_one .from_network .from_heco,
.bridge .container-fluid .card_one .to_network .from_heco {
  display: none;
}
.bridge .container-fluid .card_one .from_network .to_bsc,
.bridge .container-fluid .card_one .to_network .to_bsc,
.bridge .container-fluid .card_one .from_network .to_heco,
.bridge .container-fluid .card_one .to_network .to_heco,
.bridge .container-fluid .card_one .from_network .to_eth,
.bridge .container-fluid .card_one .to_network .to_eth {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.bridge .container-fluid .card_one .from_network .to_bsc .img,
.bridge .container-fluid .card_one .to_network .to_bsc .img,
.bridge .container-fluid .card_one .from_network .to_heco .img,
.bridge .container-fluid .card_one .to_network .to_heco .img,
.bridge .container-fluid .card_one .from_network .to_eth .img,
.bridge .container-fluid .card_one .to_network .to_eth .img {
  width: 24px;
  height: 24px;
}
.bridge .container-fluid .card_one .from_network .to_heco,
.bridge .container-fluid .card_one .to_network .to_heco,
.bridge .container-fluid .card_one .from_network .to_eth,
.bridge .container-fluid .card_one .to_network .to_eth {
  display: none;
}
.bridge .container-fluid .card_one .amount {
  margin-top: 20px;
}
.bridge .container-fluid .card_one .amount .claiming {
  display: none;
}
.bridge .container-fluid .card_one .amount .input {
  display: flex;
  padding: 16px 14px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.bridge .container-fluid .card_one .amount .input .c-input {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  padding: 0;
  font-size: 20px;
  border: 0;
  outline: none;
  background: transparent;
  color: inherit;
}
.bridge .container-fluid .card_one .to_amount p {
  text-align: start;
}
.bridge .container-fluid .card_one .from_btn,
.bridge .container-fluid .card_one .claim {
  margin-top: 45px;
}
.bridge .container-fluid .card_one .from_btn button,
.bridge .container-fluid .card_one .claim button {
  width: 384px;
  background-image: linear-gradient(90deg, #09d3af 0%, #09b8c2 18%, #0965ff 100%);
  border-radius: 24px;
  height: 48px;
  border: 0;
}
.bridge .container-fluid .card_one .from_btn .send,
.bridge .container-fluid .card_one .claim .send {
  display: none;
}
.bridge .container-fluid .card_one .claim {
  display: none;
}
.bridge .container-fluid .card_two {
  margin-left: 100px;
}
